/* bootstrap stuff 
 .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .visible-xs {
    display: none !important;
  }
  .hidden-xs {
    display: block !important;
  }
  table.hidden-xs {
    display: table;
  }
  tr.hidden-xs {
    display: table-row !important;
  }
  th.hidden-xs,
  td.hidden-xs {
    display: table-cell !important;
  }
  .hidden-xs.hidden-print {
    display: none !important;
  }
  .hidden-sm {
    display: none !important;
  }
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
*/
/* end bootstrap stuff */

@font-face {
    font-family: Hkgrotesk;
    src: url(fonts/HKGrotesk-Regular.otf);
}

@font-face {
    font-family: HkgroteskBold;
    src: url(fonts/HKGrotesk-Bold.otf);
}

body {
    margin: 0;
    margin-top: 10mm;
    margin-bottom: 11.5mm;
    margin-left: 0;
    font-family: "Hkgrotesk";
    background-color: #fff;
}

@page {
    size: 29.7cm 21cm;
    /*     margin-right:5mm;
    */
    margin-top: 10mm;
    margin-bottom: 11.5mm;
    margin-left: 0;
    size: landscape; /* chrome support only */
}

/*  @page {
size: landscape
}

html, body, #main {
width: 297mm;
height: 210mm;
margin-top: 5cm;
margin-bottom: 25mm;
} */

div {
    float: none !important;
    position: static !important;
    box-sizing: content-box !important;
}

#info-box {
    display: none;
}

#par_numbr {
    display: none;
}

#menu-bar-xs {
    display: none;
}

#arrows {
    display: none;
}

.keyword-toggle {
    display: none;
}

#menu-right {
    display: none;
}

.footer {
    display: none;
}

#content {
    margin: 2cm;
    margin-left: 3cm;
    /* width: 50%; media queries at the end of file */
}

.section {
    /* edit 
    margin-left: -2cm;
<<<<<<< Updated upstream
    to change the left margin, edit #content */
=======
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
>>>>>>> Stashed changes
}

.section h2 {
    /* edit
     * width: 10cm; */
    width: 100%;
    margin: 0;
    padding: 0;
    page-break-before: always !important;
    font-size: 24pt;
    line-height: 27pt;
    font-family: "HKGroteskbold";
    height: auto;
    background-color: transparent;
}

.section h3 {
    font-size: 12pt;
    line-height: 15pt;
    -webkit-margin-before: 0;
    -webkit-margin-after: .2cm;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    page-break-after: avoid;
}

.section p {
    font-size: 9pt;
    line-height: 13pt;
    margin-bottom: .2cm;
    float: none !important;
    clear: none;
}

.section p,.section h3 {
    /* edit
     * width: 10cm;*/
    width: 100%;
}

.section h2 {
    margin-bottom: .4cm;
    /* edit */
    margin-top: 1cm;
}
/* edit */
.section p, .section h2, .section h3, .section h1, .section img, .references {max-width: 100%;}

.section .author,.section .words {
    font-family: "HKGroteskbold";
    font-size: 9pt;
    line-height: 12pt;
    background-color: transparent;
    margin-bottom: .4cm;
}

.section .author {
    /*         margin-left: 11.5cm;
    position: absolute;
    margin-top: 1.5cm; */
}

.section .words {
    /*         margin-left: 11.5cm;
    margin-top: 2cm;
    position: absolute; */
}

.section img {
    /*     margin-top:2cm;
    right: 2cm;
    /* edit  
    position: absolute;*/
    positon: static;
    page-break-inside: avoid;
    page-break-before: always;
    width: auto;
    height: 8cm;
    clear: left;
    /* edit 
    margin-left: 11cm; */
    margin-left: 0;
    page-break-inside: avoid !important;
}

.section .img-caption {
    font-size: 7pt;
    text-indent: 0;
    width: 11.5cm;
    height: auto;
    /* edit 
    position: absolute;*/
    position: static;
    clear: left;
    /* edit 
    margin-top: 8.5cm;
    margin-left: 11cm; */
    margin-top: 0;
    margin-left: 0;
    font-family: "HKGroteskbold";
    align-self: baseline;
    vertical-align: bottom;
}

blockquote {
    page-break-before: avoid;
    page-break-inside: avoid;
    margin: 0 0 2em;
    font-size: inherit;
    border-left: 0;
    border: 0;
    margin-top: 0;
    margin-bottom: .2cm;
}

blockquote p {
    line-height: inherit;
    border: 0;
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: disc;
    margin: 0;
    padding: 20px 0;
}

li {
    margin-left: 0;
}

.references {
    font-size: 9pt;
    line-height: 13pt;
    text-indent: 0;
    margin-bottom: 0;
    margin-top: 1cm;
}

.references p {
    font-size: 9pt;
    line-height: 13pt;
    hyphens: auto;
    word-wrap: break-word;
    text-indent: 0;
    margin-bottom: .2cm;
}

.references h3 {
    font-size: 9pt;
    line-height: 13pt;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    margin-bottom: .2cm;
    font-family: "HKGroteskbold";
}

#sidenote-wrapper {
    /*         width: 4cm;
    right:0cm; */
    /*         margin-top: -30cm;
    */
    
    border: initial;
    border-radius: initial;
    
    /* edit
    margin-left: 12cm;
    position: fixed;
    */
    margin-left: 0;
    padding-left: 0;
    page-break-before: always !important;
    position: static !important;
    width: 100%; /* removed from .sidenote and changed from 5cm to percentage */
    -moz-column-count: 4;
    -moz-column-gap: .25cm;
}

#chapter8 {
    margin: 0;
    right: 0;
    font-size: 7pt;
    line-height: 9pt;
    /*         position: absolute;
    */
}

/* edit */
#chapter8 ol li{
    float: none;
    position: static;
    float: none;
}
#chapter8 ol li:before {
    font-size: 7pt;
    line-height: 9pt;
}

#chapter8 ol li p {
    color: #000;
    font-family: "HKGrotesk";
    font-weight: 400;
    font-size: 7pt;
    line-height: 9pt;
    table-layout: fixed;
    overflow: hidden;
    -ms-hyphens: auto;
    hyphens: auto;
    -ms-hyphenate-limit-lines: no-limit;
    hyphenate-limit-lines: no-limit;
    word-break: normal;
    word-wrap: break-word;
}

#chapter8 ol li p a {
    color: #000;
    font-family: "HKGroteskbold";
    word-wrap: break-word;
    hyphens: auto;
    -ms-hyphens: auto;
    word-break: break-all;
    -ms-word-break: break-all;
    white-space: pre-wrap;
    page-break-after: avoid;
    font-size: 7pt;
    line-height: 9pt;
}

#chapter8 ol {
    list-style: decimal;
    text-indent: 0;
    margin-left: 25px;
    font-size: 7pt;
    line-height: 9pt;
    counter-reset: item;
    list-style-type: none;
    page-break-inside: avoid;
}

.sidenote {
    /* edit 
    margin-left: 12cm;
    */
    margin-left: 0;
    /* edit
     * width: 5cm; moved to #sidenote-wrapper */
    font-size: 7pt;
    line-height: 9pt;
    page-break-inside: avoid;
}

#menu {
    padding: 0;
    margin: 0;
    top: -6cm;
    margin-top: -6cm;
    margin: 0;
    border: initial;
    border-radius: initial;
    margin-left: 13.1cm;
    /* edit */
    display: none;
}

#toc_wrapper {
    margin: 0;
    padding: 0;
    width: 13cm;
}

.menu-publication-title {
    padding: 0;
    margin: 0;
    margin-top: 0;
    font-size: 24pt;
    line-height: 27pt;
    font-family: "HKGroteskbold";
    margin-bottom: .5cm;
}

#menu h2 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 12pt;
    line-height: 15pt;
    font-family: "HKGrotesk";
    page-break-inside: avoid;
}

.horizScroll,.subScroll {
    display: none;
}

#toc_wrapper h2 {
    margin: 0;
}

.toc_number {
    text-align: left;
    font-size: 18pt;
    line-height: 22pt;
    float: left;
    padding-left: 0;
    font-family: "HKGroteskbold";
    page-break-inside: avoid;
}

.toc_title {
    margin: 0;
    padding: 0;
    margin-left: 1cm;
    font-size: 18pt;
    line-height: 22pt;
    font-family: "HKGroteskbold";
    text-overflow: clip;
    page-break-inside: avoid;
    hyphens: auto;
}

.toc_author {
    margin-left: 1cm;
    font-size: 12pt;
    margin-top: .2cm;
    margin-bottom: .4cm;
    page-break-inside: avoid;
}

.toggle_menu_left_button div {
    display: none;
}

/* style sheet for "A4" printing portrait */
 @media print and (width: 21cm) and (height: 29.7cm) {
    /*#content{
        width: 65% !important;
    }*/
    .section img{
        position: static !important;
        height: 8cm; /* copied from main print css */
        margin-bottom: 0;
        clear: left;
    }
 }

 /* style sheet for "A4" printing landscape */
 @media print and (width: 29.7cm) and (height: 21cm) {
    /*#content{
        width: 50% !important;
    }*/
    .section img{
        position: relative !important;
        height: 8cm; /* copied from main print css */
        clear: none;
        left: 18cm;
        margin-bottom: -8cm; /* same as height, but negative - will allow text to flow  */
    }

 }